<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-6'>
      <h3><%= @location.island %></h3>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <ul>
        <% @products.each do |product| %>
          <li>
            <%= link_to product.name, product %>
            <%= product.price %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
